<div id="<%= dom_id slot %>">
  <p>
    <h2>Profile:</h2>
    <%= slot.profile.username %>
  </p>


<h3>Profilo responsabile</h3> 
  <p>
    <strong>Contatto note_id referente calendario:</strong>
    <%= slot.calendario_contact_note_id %>
  </p>

  <p>
    <strong>Profilo referente calendario:</strong>
    <%= slot.calendario_profile_id %>
  </p>




  <p>
    <h2>Calendario:</h2>
    <%= link_to slot.calendar.name, slot.calendar %>
<br>
    <b>Categoria:</b>
      <%= link_to slot.category.name, slot.category if slot.category %>
  </p>

    <h2>Luogo:</h2>
    <%= link_to slot.luogo.name, slot.luogo if slot.luogo%>
    <br>
    <b>Sublocation:</b>
      <%= link_to slot.sublocation.name, slot.sublocation  if slot.sublocation %>
  </p>
<h2>Evento:</h2>
    <%= link_to slot.event.name, slot.event if slot.event%>
    <br>
  <p>
    <strong>Public:</strong>
    <%= slot.public %>
  </p>

  <p>
    <strong>Visibility:</strong>
    <%= slot.visibility %>
  </p>

  <p>
    <strong>Data start:</strong>
    <%= slot.data_start %>
  </p>

  <p>
    <strong>Data end:</strong>
    <%= slot.data_end %>
  </p>

</div>
