<div id="<%= dom_id slot %>">
  <p>
    <strong>Profile:</strong>
    <%= slot.profile_id %>
  </p>

  <p>
    <strong>Calendar:</strong>
    <%= link_to slot.calendar.name, slot.calendar %>
  </p>

  <p>
    <strong>Public:</strong>
    <%= slot.public %>
  </p>

  <p>
    <strong>Visibility:</strong>
    <%= slot.visibility %>
  </p>

  <p>
    <strong>Data start:</strong>
    <%= slot.data_start %>
  </p>

  <p>
    <strong>Data end:</strong>
    <%= slot.data_end %>
  </p>

</div>
