<p style="color: green"><%= notice %></p>

<%= render @slot %>

  

<div>
  <%= link_to "Edit this slot", edit_slot_path(@slot) %> |
  <%= link_to "Back to slots", slots_path %>

  <%= button_to "Destroy this slot", @slot, method: :delete %>
</div>


                    Partecipanti            
                                        <a href="http://www.google.com/calendar/event?action=TEMPLATE&dates=20180821%2F20180822&text=Litmus%20Live%20London&location=etc.venues%20155%20Bishopsgate&details=Litmus%20Live%20helps%20you%20become%20a%20better%20email%20marketer%20with%20real-world%20advice%2C%20best%20practices%20%26%20practical%20takeaways." target="_blank" class="tracking-wider text-gray-600 bg-gray-200 px-2 text-sm rounded leading-loose mx-2 font-semibold">
                                      Salva data
                                    </a>