
<!--

=========================================================
* Notus Tailwind JS - v1.1.0 based on Tailwind Starter Kit by Creative Tim
=========================================================

* Product Page: https://www.creative-tim.com/product/notus-js
* Copyright 2021 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://github.com/creativetimofficial/notus-js/blob/main/LICENSE.md)

* Tailwind Starter Kit Page: https://www.creative-tim.com/learning-lab/tailwind-starter-kit/presentation

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->

  <div class="text-blueGray-700 antialiased">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <%= render 'dashboard/side_nav' %>
      <div class="relative md:ml-64 bg-blueGray-50">
        <%= render 'dashboard/nav_dash' %>
        <!-- Header -->
        <div class="relative bg-pink-600  pb-8 pt-8">
          <div class="px-4 md:px-10 mx-auto w-full">
            <div>
              <!-- Card stats -->
           
            </div>
          </div>
        </div>

        
    

        <div class="px-4 md:px-10 mx-auto w-full m-8">
        
          <div class="flex flex-wrap mt-4">
            <div class="w-full mb-12 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
              >
                <div class="rounded-t mb-0 px-4 py-3 border-0">
                  <div class="flex flex-wrap items-center">
                     <!--Nav  tempo --->
                    
                      <%= render 'dashboard/pas_fut_note' %>
                    
                      <div class="flex">
                        <% if @data_start %>    
                          <%= form_with url: "/",  method: :get do |form| %>

                                  <%= form.date_field :date, { required: true, class:"rounded-md p-1 m-1", value:  @data_f, onchange: 'this.form.submit();' }  %>
                                  <%#= form.submit "ðŸ”", class: "ml-2 rounded-lg py-3 px-5 bg-orange-300 inline-block font-medium"  %>
                          <% end %>
                        <% end %>  
                        <% if user_signed_in? %>
                          <% if current_user.profile %>
                            <%= render 'notes/new_note_dropdown' %>
                          <% end %> 
                        <% end %>
                      </div>
                   
                     <!-- nav tempo --->
                    <div
                      class="relative w-full px-4 max-w-full flex-grow flex-1"
                    >
                    
                      <h3 class="font-semibold text-lg text-blueGray-700">
                        Note
                      </h3>
                      
                    </div>
                 
                  </div>
                </div>
                <div class="block w-full overflow-x-auto">
                  <!-- Projects table -->
                  <table
                    class="items-center w-full bg-transparent border-collapse"
                  >
                    <thead>
                      <tr>
                         <th
                          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
                        >
                          Data
                        </th>
                        <th
                          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
                        >
                          Note
                        </th>
                        <th
                          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
                        >
                          Budget
                        </th>
                        <th
                          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
                        >
                          Status
                        </th>
                        <!--th
                          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
                        >
                          Users
                        </th-->
                        <th
                          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
                        >
                          Completion
                        </th>
                        <th
                          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
                        ></th>
                      </tr>
                    </thead>
                    <tbody>
                        <% @notes.each do |note| %> 
                            
                             
                            
                              <!--p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400"> <%= note.description %></p-->
                              
                              <!--a href="#" class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">
                                <svg class="mr-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z" clip-rule="evenodd"></path></svg> 
                              Download ZIP
                              </a-->
                         
                         
                        <tr>
                          <th>
                            <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                              <% if note.data_start.strftime("%Y-%m-%d") != @data_f %>
                    
                              
                                <%= note.data_start.strftime("%d-%m-%Y") %> 
                              <% end %>   
                              <br>
                              <%= note.data_start.strftime("%H:%M") %> -
                              
                              <% if note.data_end %>
                                <% if  note.data_start.strftime("%d-%m-%Y") ==  note.data_end.strftime("%d-%m-%Y") %>
                                  <%= note.data_end.strftime("%H:%M") %>
                                
                                <% else %>
                                  <%= note.data_end.strftime("%d-%m-%Y %H:%M") %>
                                <% end %>
                              <% end %>
                            
                              
                              </time>
                          
                          </th>
                          <th
                            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center"
                          >
                              <%= render_svg "notes/#{note.note_type}", styles: "w-5 h-5 fill-current group-hover:text-indigo-600 text-gray-600 mr-3" %>
                                  

                            <span class="ml-3 font-bold text-blueGray-600">
                               <% if user_signed_in? %> 
                                <% if current_user.profile %>
                                <% if current_user.profile.id == note.profile.id %>
                                <%= current_user.profile.id  %>

                                  <span class="text-black -mt-2">note_id: <%= note.id %></span>  
                                <% end %> 
                                <% end %>    
                              <% end %> 
                              <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white"> 
                              <%= link_to note.name, note %>
                              <!--span class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">Latest</span-->
                              </h3>
                            </span>
                          </th>
                          <td
                            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                          >
                            $2,500 USD
                          </td>
                          <td
                            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                          >
                            <i class="fas fa-circle text-orange-500 mr-2"></i>
                            pending
                          </td>
                          <!--td
                            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                          >
                            <div class="flex">
                              <img
                                src="<%= image_url('template/team-1-800x800.jpg') %>"
                                alt="..."
                                class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow"
                              />
                              <img
                                src="../../assets/img/team-2-800x800.jpg"
                                alt="..."
                                class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow -ml-4"
                              />
                              <img
                                src="../../assets/img/team-3-800x800.jpg"
                                alt="..."
                                class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow -ml-4"
                              />
                              <img
                                src="../../assets/img/team-4-470x470.png"
                                alt="..."
                                class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow -ml-4"
                              />
                            </div>
                          </td-->
                          <td
                            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                          >
                            <div class="flex items-center">
                              <span class="mr-2">60%</span>
                              <div class="relative w-full">
                                <div
                                  class="overflow-hidden h-2 text-xs flex rounded bg-red-200"
                                >
                                  <div
                                    style="width: 60%"
                                    class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-red-500"
                                  ></div>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td
                            class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right"
                          >
                            <a
                              href="#pablo"
                              class="text-blueGray-500 block py-1 px-3"
                              onclick="openDropdown(event,'table-light-1-dropdown')"
                            >
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div
                              class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
                              id="table-light-1-dropdown"
                            >
                              <a
                                href="#pablo"
                                class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                                >Action</a
                              ><a
                                href="#pablo"
                                class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                                >Another action</a
                              ><a
                                href="#pablo"
                                class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                                >Something else here</a
                              >
                              <div
                                class="h-0 my-2 border border-solid border-blueGray-100"
                              ></div>
                              <a
                                href="#pablo"
                                class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                                >Seprated link</a
                              >
                            </div>
                          </td>
                        </tr>
                      <% end %>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
          </div>
          <%= render 'dashboard/footer_dash' %>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script type="text/javascript">
      /* Make dynamic date appear */
      (function () {
        if (document.getElementById("get-current-year")) {
          document.getElementById("get-current-year").innerHTML =
            new Date().getFullYear();
        }
      })();
      /* Sidebar - Side navigation menu on mobile/responsive mode */
      function toggleNavbar(collapseID) {
        document.getElementById(collapseID).classList.toggle("hidden");
        document.getElementById(collapseID).classList.toggle("bg-white");
        document.getElementById(collapseID).classList.toggle("m-2");
        document.getElementById(collapseID).classList.toggle("py-3");
        document.getElementById(collapseID).classList.toggle("px-6");
      }
      /* Function for dropdowns */
      function openDropdown(event, dropdownID) {
        let element = event.target;
        while (element.nodeName !== "A") {
          element = element.parentNode;
        }
        Popper.createPopper(element, document.getElementById(dropdownID), {
          placement: "bottom-start"
        });
        document.getElementById(dropdownID).classList.toggle("hidden");
        document.getElementById(dropdownID).classList.toggle("block");
      }
    </script>
  </div>



<!--p style="color: green"><%= notice %></p>

<h1>Notes</h1>

<div id="notes">
  <% @notes.each do |note| %>
    <%= render note %>
    <p>
      <%= link_to "Show this note", note %>
    </p>
  <% end %>
</div>

<%= link_to "New note", new_note_path %-->
