

        
    <div class="w-full mb-12 md:px-4">
              <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
              >
                <div class="rounded-t mb-0 px-4 py-3 border-0">
                  <div class="flex flex-wrap items-center">
                     <!--Nav  tempo --->
                    
                      <%= render 'dashboard/pas_fut_note' %>
                    
                      <div class="flex">
                        <% if @data_start %>    
                          <%= form_with url: "/dashboard/passate",  method: :get do |form| %>

                                  <%= form.date_field :date, { required: true, class:"rounded-md p-1 m-1", value:  @data_f, onchange: 'this.form.submit();' }  %>
                                  <%#= form.submit "ðŸ”", class: "ml-2 rounded-lg py-3 px-5 bg-orange-300 inline-block font-medium"  %>
                          <% end %>
                        <% end %>  
                        <% if user_signed_in? %>
                          <% if current_user.profile %>
                            <%= render 'notes/new_note_dropdown' %>
                          <% end %> 
                        <% end %>
                      </div>
                   
                     <!-- nav tempo --->
                   
                 
                  </div>
                   <div
                      class="relative w-full px-4 max-w-full flex-grow flex-1"
                    >
                    
                      <h3 class="font-semibold text-lg text-blueGray-700">
                        Note
                      </h3>
                      
                    </div>
                </div>
                <div class="block w-full overflow-x-auto">
                  <!-- Projects table -->
                  <%= render 'notes/table_notes' %>
                </div>
              </div>
            </div>
          
          </div>
          <%= render 'dashboard/footer_dash' %>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script type="text/javascript">
      /* Make dynamic date appear */
      (function () {
        if (document.getElementById("get-current-year")) {
          document.getElementById("get-current-year").innerHTML =
            new Date().getFullYear();
        }
      })();
      /* Sidebar - Side navigation menu on mobile/responsive mode */
      function toggleNavbar(collapseID) {
        document.getElementById(collapseID).classList.toggle("hidden");
        document.getElementById(collapseID).classList.toggle("bg-white");
        document.getElementById(collapseID).classList.toggle("m-2");
        document.getElementById(collapseID).classList.toggle("py-3");
        document.getElementById(collapseID).classList.toggle("px-6");
      }
      /* Function for dropdowns */
      function openDropdown(event, dropdownID) {
        let element = event.target;
        while (element.nodeName !== "A") {
          element = element.parentNode;
        }
        Popper.createPopper(element, document.getElementById(dropdownID), {
          placement: "bottom-start"
        });
        document.getElementById(dropdownID).classList.toggle("hidden");
        document.getElementById(dropdownID).classList.toggle("block");
      }
    </script>
  </div>



<!--p style="color: green"><%= notice %></p>

<h1>Notes</h1>

<div id="notes">
  <% @notes.each do |note| %>
    <%= render note %>
    <p>
      <%= link_to "Show this note", note %>
    </p>
  <% end %>
</div>

<%= link_to "New note", new_note_path %-->
