<div id="<%= dom_id profile %>">
  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= profile.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= profile.description %>
  </p>

  <p>
    <strong>Avatar url:</strong>
    <%= profile.avatar_url %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= profile.surname %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= profile.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= profile.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= profile.phone %>
  </p>

  <p>
    <strong>Smartphone:</strong>
    <%= profile.smartphone %>
  </p>

  <p>
    <strong>Prezzo orario:</strong>
    <%= profile.prezzo_orario %>
  </p>

  <p>
    <strong>Active profile:</strong>
    <%= profile.active_profile_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= profile.team_id %>
  </p>

  <p>
    <strong>Referente profile:</strong>
    <%= profile.referente_profile_id %>
  </p>

</div>
