
<!--

=========================================================
* Notus Tailwind JS - v1.1.0 based on Tailwind Starter Kit by Creative Tim
=========================================================

* Product Page: https://www.creative-tim.com/product/notus-js
* Copyright 2021 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://github.com/creativetimofficial/notus-js/blob/main/LICENSE.md)

* Tailwind Starter Kit Page: https://www.creative-tim.com/learning-lab/tailwind-starter-kit/presentation

* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->

  <div class="text-blueGray-700 antialiased">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">
      <%= render 'dashboard/side_nav' %>
      <div class="relative md:ml-64 bg-blueGray-50">
        <%= render 'dashboard/nav_dash' %>
        <!-- Header -->
        <div class="relative bg-pink-600  pb-8 pt-8">
          <div class="md:px-10 mx-auto w-full">
            <div>
              <!-- Card stats -->
           
            </div>
          </div>
        </div>

        
    

        <div class="md:px-10 mx-auto w-full m-8">
        
          <div class="flex flex-wrap mt-4">
            <div class="w-full mb-12 md:px-4">
              <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
              >
                <div class="rounded-t mb-0 px-4 py-3 border-0">
                  <div class="flex flex-wrap items-center">
                     <!--Nav  tempo --->
                    
                      <%= render 'dashboard/pas_fut_note' %>
                    
                      <div class="flex">
                        <% if @data_start %>    
                          <%= form_with url: "/notes",  method: :get do |form| %>

                                  <%= form.date_field :date, { required: true, class:"rounded-md p-1 m-1", value:  @data_f, onchange: 'this.form.submit();' }  %>
                                  <%#= form.submit "ðŸ”", class: "ml-2 rounded-lg py-3 px-5 bg-orange-300 inline-block font-medium"  %>
                          <% end %>
                        <% end %>  
                        <% if user_signed_in? %>
                          <% if current_user.profile %>
                            <%= render 'notes/new_note_dropdown' %>
                          <% end %> 
                        <% end %>
                      </div>
                   
                     <!-- nav tempo --->
                   
                 
                  </div>
                   <div
                      class="relative w-full px-4 max-w-full flex-grow flex-1"
                    >
                    
                      <h3 class="font-semibold text-lg text-blueGray-700">
                        Note
                      </h3>
                      
                    </div>
                </div>
                <div class="block w-full overflow-x-auto">
                  <!-- Projects table -->
                  <%= render 'table_notes' %>
                 
                </div>
              </div>
            </div>
          
          </div>
          <%= render 'dashboard/footer_dash' %>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script type="text/javascript">
      /* Make dynamic date appear */
      (function () {
        if (document.getElementById("get-current-year")) {
          document.getElementById("get-current-year").innerHTML =
            new Date().getFullYear();
        }
      })();
      /* Sidebar - Side navigation menu on mobile/responsive mode */
      function toggleNavbar(collapseID) {
        document.getElementById(collapseID).classList.toggle("hidden");
        document.getElementById(collapseID).classList.toggle("bg-white");
        document.getElementById(collapseID).classList.toggle("m-2");
        document.getElementById(collapseID).classList.toggle("py-3");
        document.getElementById(collapseID).classList.toggle("px-6");
      }
      /* Function for dropdowns */
      function openDropdown(event, dropdownID) {
        let element = event.target;
        while (element.nodeName !== "A") {
          element = element.parentNode;
        }
        Popper.createPopper(element, document.getElementById(dropdownID), {
          placement: "bottom-start"
        });
        document.getElementById(dropdownID).classList.toggle("hidden");
        document.getElementById(dropdownID).classList.toggle("block");
      }
    </script>
  </div>



<!--p style="color: green"><%= notice %></p>

<h1>Notes</h1>

<div id="notes">
  <% @notes.each do |note| %>
    <%= render note %>
    <p>
      <%= link_to "Show this note", note %>
    </p>
  <% end %>
</div>

<%= link_to "New note", new_note_path %-->
