<div class="mx-auto my-8">
<%= link_to "Aggiungi a un calendario", new_slot_path(note_id: @note.id), class:"btn btn-primary m-4" %>

<%= render @note %>

<div>
  <%= link_to "Edit this note", edit_note_path(@note), class:"btn btn-primary outline m-2" %> 
  <%= link_to "Back to notes", root_path, class:"btn btn-primary outline m-2" %>


  <%= button_to "Destroy this note", @note, method: :delete , class:"btn btn-danger m-2", form: { data: { turbo_confirm: "Are you sure?" } } %>
</div>



<% if @note.note_type  == "luoghi" %>


   <h1>Sublocations</h1>

<div id="sublocations">
  <% @note.sublocations.each do |sublocation| %>
    <%= render sublocation %>
    <p>
      <%= link_to "Show this sublocation", sublocation %>
    </p>
  <% end %>
</div>

<%= link_to "New sublocation", new_sublocation_path(luogo_n_id: @note.id) %>

<% end %>


<!--- https://www.b4web.biz/181/aggiungere-tramite-link-un-evento-su-google-calendar--></div>