<div id="<%= dom_id sublocation %>">
  <p>
    <strong>Note:</strong>
    <%= sublocation.note_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= sublocation.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sublocation.description %>
  </p>

  <p>
    <strong>Img quadrata url:</strong>
    <%= sublocation.img_quadrata_url %>
  </p>

  <p>
    <strong>Img ret orizzontale:</strong>
    <%= sublocation.img_ret_orizzontale %>
  </p>

  <p>
    <strong>Img ret verticale:</strong>
    <%= sublocation.img_ret_verticale %>
  </p>

  <p>
    <strong>Num posti max:</strong>
    <%= sublocation.num_posti_max %>
  </p>

  <p>
    <strong>Num location:</strong>
    <%= sublocation.num_location %>
  </p>

</div>
