<div class="lg:flex">
  <div class="flex">
    <div class="mt-6">
    <%= image_tag '1impegno_logo.png', style:"height:60px;" %>
   </div>
    <div class="m-4">
     <%= link_to root_path  do %>
        <h2 class="text-black">1mpegno.it</h2>
        <p class="text-black">Per gestire al meglio le tue risorse.</p>
        <% end %>
    </div>
  </div>

  <% if user_signed_in? %>
    <% if current_user.profile && action_name != "new" %>
          
      
      <div class="m-8">
        <ul class="list-none flex flex-wrap text-sm font-medium text-center text-gray-500 dark:text-gray-400">
         
            
         
            <li class="mr-2">
             <% if (controller_name == "pages" && action_name == "home") || (controller_name == "notes" && action_name == "index")  %>
                <%= link_to  pages_home_path, class:"btn btn-tertiary outline" do %>
                  <img src="https://img.icons8.com/color/48/000000/dashboard-layout.png" style="height:40px;"/>
                <% end %>
              <% else %>
                 <%= link_to  pages_home_path, class:"" do %>
                    <img src="https://img.icons8.com/color/48/000000/dashboard-layout.png" style="height:40px;"/>
                  <% end %>
              <% end %>
            </li>
        
            <li class="mr-2">

             <% if (controller_name == "profiles" && action_name == "passate") || (controller_name == "profiles" && action_name == "future")  %>
                <%= link_to  future_profile_path(current_user.profile), class:"btn btn-tertiary outline" do%>
                  <img src="https://img.icons8.com/external-creatype-filed-outline-colourcreatype/64/000000/external-eyes-basic-creatype-filed-outline-colourcreatype.png" style="height:40px;">
                  <% end %>
              <% else %>
                  <%= link_to  future_profile_path(current_user.profile), class:"" do%>
                    <img src="https://img.icons8.com/external-creatype-filed-outline-colourcreatype/64/000000/external-eyes-basic-creatype-filed-outline-colourcreatype.png" style="height:40px;">
                  <% end %>
              <% end %>
                
            
            </li>
            <li class="mr-2">


             <% if (controller_name == "profiles" && action_name == "settimana")   %>
                 <%= link_to  settimana_profile_path(current_user.profile), class:"btn btn-tertiary outline" do%>
            <img src="https://img.icons8.com/fluency/48/000000/week-view.png" style="height:40px;"/>
            
            <% end %>
              <% else %>
                   <%= link_to  settimana_profile_path(current_user.profile), class:"" do%>
            <img src="https://img.icons8.com/fluency/48/000000/week-view.png" style="height:40px;"/>
            
            <% end %>
              <% end %>
        
            
            </li>

           
        </ul>
      </div>
      
    <% end %>
  <% end %>
  
 
  <% if user_signed_in? %>

    
    <div class="lg:mt-10">
      <!--drop down start-->
      <div class=" block  inline-block px-4 py-2 leading-none rounded no-underline text-gray hover:text-gray-900 hover:bg-white mt-4 lg:mt-0 font-medium tracking-wide ">
        <div class="relative" data-controller="dropdown">
            <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
              <span class="appearance-none flex items-center inline-block text-gray-800">
                 <% if current_user.profile && action_name != "new" %>
   
                  <div class="flex items-center space-x-4 mx-4">
                        <img class="w-10 h-10 rounded-full" src="<% if current_user.profile.avatar_url.size > 0%> <%= current_user.profile.avatar_url %><% else %>https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg<% end %>" alt="">
                        <div class="font-medium dark:text-white">
                            <div><%= current_user.profile.username %></div>
                            <div class="text-sm text-gray-500 dark:text-gray-400">Joined <%= current_user.profile.created_at.strftime("%d/%m/%Y") %></div>
                        </div>
                    </div>
                <% else %>
                  <span aria-label="Our product" title="Our product" class="font-medium tracking-wide text-gray-800 transition-colors duration-200 hover:text-blue-400 ">Menù</span>      
                <% end %>  
                
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="h-4 w-4"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
              </span>
            </div>
            <div data-dropdown-target="menu" class="absolute mt-2 hidden" style="z-index:60;">
              <div class="bg-white shadow rounded border overflow-hidden">
                    
                   <% if current_user.profile && controller_name != "profiles" && action_name != "new" %>
   
                      <%= link_to profile_path(current_user), class: "hover:bg-indigo-50 hover:text-indigo-600 text-gray-600 no-underline block py-3 px-4 flex items-center group rounded-t" do %>
                                <%#= render_svg "icons/user" ,styles: "w-5 h-5 fill-current group-hover:text-indigo-600 text-gray-600 mr-3" %>
                                Profilo
                              <% end %>
                <% else %>
                  <%= link_to new_profile_path(), class: "hover:bg-indigo-50 hover:text-indigo-600 text-gray-600 no-underline block py-3 px-4 flex items-center group rounded-t" do %>
                                <%#= render_svg "icons/user" ,styles: "w-5 h-5 fill-current group-hover:text-indigo-600 text-gray-600 mr-3" %>
                                Profilo
                              <% end %>
                <% end %>
                    
                  
                      <%= button_to(
                    "Esci",
                    destroy_user_session_path,
                    method: :delete,
                    class:"inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300"
                  ) %>
            
                
              </div>
            </div>
          </div>
        </div>
      <!--drop down end --->
      </div>
    </div>
  <% else %>


            <%= link_to "Accedi", new_user_session_path, class:"inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-purple-400 hover:bg-purple-700 hover:text-white focus:shadow-outline focus:outline-none" %>
            <%= link_to "Registrati", new_user_registration_path, class:"inline-flex items-center justify-center h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-purple-400 hover:bg-purple-700 hover:text-white focus:shadow-outline focus:outline-none" %>
     
  <% end %>
   
  
</div>



