<div id="<%= dom_id event %>">
  <p>
    <strong>Profile:</strong>
    <%= event.profile_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Image icona url:</strong>
    <%= event.image_icona_url %>
  </p>

  <p>
    <strong>Image card url:</strong>
    <%= event.image_card_url %>
  </p>

  <p>
    <strong>N partecipanti:</strong>
    <%= event.n_partecipanti %>
  </p>

  <p>
    <strong>N conduttori:</strong>
    <%= event.n_conduttori %>
  </p>

  <p>
    <strong>Durata minuti:</strong>
    <%= event.durata_minuti %>
  </p>

  <p>
    <strong>Indirizzo:</strong>
    <%= event.indirizzo %>
  </p>

  <p>
    <strong>Luogo:</strong>
    <%= event.luogo %>
  </p>

  <p>
    <strong>Paese:</strong>
    <%= event.paese %>
  </p>

  <p>
    <strong>Prezzo pieno:</strong>
    <%= event.prezzo_pieno %>
  </p>

  <p>
    <strong>Prezzo bambini:</strong>
    <%= event.prezzo_bambini %>
  </p>

  <p>
    <strong>Calendar:</strong>
    <%= event.calendar_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= event.category_id %>
  </p>

  <p>
    <strong>Data conferma:</strong>
    <%= event.data_conferma %>
  </p>

</div>
