<div id="<%= dom_id prenotation %>">
  <p>
    <strong>Contact:</strong>
    <%= prenotation.contact_id %>
  </p>

  <p>
    <strong>Slot:</strong>
    <%= prenotation.slot_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= prenotation.event_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= prenotation.user_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= prenotation.email %>
  </p>

  <p>
    <strong>Confermata:</strong>
    <%= prenotation.confermata %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= prenotation.profile_id %>
  </p>

  <p>
    <strong>Pagamento tipo:</strong>
    <%= prenotation.pagamento_tipo %>
  </p>

  <p>
    <strong>Data pagamento:</strong>
    <%= prenotation.data_pagamento %>
  </p>

  <p>
    <strong>Fattura n:</strong>
    <%= prenotation.fattura_n %>
  </p>

  <p>
    <strong>Fattura anno:</strong>
    <%= prenotation.fattura_anno %>
  </p>

  <p>
    <strong>Price value:</strong>
    <%= prenotation.price_value %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= prenotation.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prenotation.description %>
  </p>

  <p>
    <strong>Tipo prenotazione:</strong>
    <%= prenotation.tipo_prenotazione %>
  </p>

</div>
