<div id="<%= dom_id contact %>">
  <p>
    <strong>User:</strong>
    <%= contact.user_id %>
  </p>

  <p>
    <strong>Referencte c:</strong>
    <%= contact.referencte_c_id %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= contact.profile_id %>
  </p>

  <p>
    <strong>Contatto p:</strong>
    <%= contact.contatto_p_id %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= contact.nome %>
  </p>

  <p>
    <strong>Cognome:</strong>
    <%= contact.cognome %>
  </p>

  <p>
    <strong>Indirizzo:</strong>
    <%= contact.indirizzo %>
  </p>

  <p>
    <strong>Codice fiscale:</strong>
    <%= contact.codice_fiscale %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= contact.telefono %>
  </p>

  <p>
    <strong>Via:</strong>
    <%= contact.via %>
  </p>

  <p>
    <strong>Cap:</strong>
    <%= contact.cap %>
  </p>

  <p>
    <strong>Paese città:</strong>
    <%= contact.paese_città %>
  </p>

  <p>
    <strong>Provincia:</strong>
    <%= contact.provincia %>
  </p>

  <p>
    <strong>Address complete:</strong>
    <%= contact.address_complete %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= contact.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= contact.longitude %>
  </p>

</div>
