

<%= link_to "profilo",  profiles_path %>

<%= link_to "location",  root_path %>

<%= link_to "Eventi",  events_path %>
<%= link_to "Categrie",  categories_path %>


<%= render @calendar %>


<h2>Categorie Evento da aggiungere</h2>
<div>
<div class="flex"> 
<div class="m-2 "> 
  <%= link_to "Edit this calendar", edit_calendar_path(@calendar), class:"btn btn-primary" %> 
 </div>
 <div class="m-2"> 
  <%= link_to "Back to calendars", calendars_path, class:"btn btn-primary" %>
 </div>
 <div class="m-2"> 
  <%= button_to "Destroy this calendar", @calendar, method: :delete, class:"btn btn-danger", form: { data: { turbo_confirm: "Are you sure?" } } %>
</div>
</div>
<% if current_user.profile.id == @calendar.profile.id %>
    <div class="my-4">
    <%= link_to "+ data calendario", new_slot_path(calendar_id: @calendar.id), class:"btn btn-primary" %>
  </div>
<% end %>

<div>

<h2>
<%= link_to 'Categorie', calendar_categories_path(@calendar), class:"btn btn-primary m-4" %>
</h2>
<%= render 'slots/agenda_cal_slot' %>


</div>

<div class="h-40">
</div>
