<div id="<%= dom_id category %>">
  <p>
    <strong>Profile:</strong>
    <%= category.profile_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= category.description %>
  </p>

  <p>
    <strong>Image icona url:</strong>
    <%= category.image_icona_url %>
  </p>

  <p>
    <strong>Image card url:</strong>
    <%= category.image_card_url %>
  </p>

  <p>
    <strong>Calendar:</strong>
    <%= category.calendar_id %>
  </p>

  <p>
    <strong>Indirizzo:</strong>
    <%= category.indirizzo %>
  </p>

  <p>
    <strong>Luogo:</strong>
    <%= category.luogo %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= category.color %>
  </p>

</div>
