<!DOCTYPE html>
<html>
  <head>
    <title>1impegno.it</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path("1impegno_logo.png") %>
     <%= favicon_link_tag asset_path("1impegno_logo.png"), :rel => "apple-touch-icon"  %>
    <meta name="1impegno.it" content="1impegno.it">
  </head>

  <body>
  
      <% if notice %>
         <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
         <p class="alert"><%= alert %></p>
      <% end %>
       
        <div class="px-4 py-5 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
    
  
        <% if user_signed_in? %>
            <% if (controller_name == "profiles" && action_name == "future") || (controller_name == "profiles" && action_name == "passate") ||  (controller_name == "profiles" && action_name == "settimana")  %>
                    <%= render 'shared/nav_profilo_pubblico' %>
              <% else %>
                          <%= render 'shared/nav_dash' %>
                
            <% end %>
        <% else %>
              <% if @profile %>
            <%= render 'shared/nav_profilo_pubblico' %>
            <% else%>
                  <%= render 'shared/nav_pubblico' %>
              <%end %>
          <% end %>
          </div>

          
           <div class=" mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
    
          
              <%= yield %>  

            </div> 
         
    

    </div>
  </body>
</html>
