<!DOCTYPE html>
<html>
  <head>
    <title>1impegno.it</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path("1impegno_logo.png") %>
     <%= favicon_link_tag asset_path("1impegno_logo.png"), :rel => "apple-touch-icon"  %>
    <meta name="1impegno.it" content="1impegno.it">
    <script src="https://kit.fontawesome.com/f359a794be.js" crossorigin="anonymous"></script>
    <!---fontawesome markpostura@gmail.com--->
  </head>

  <body>
  
      <% if notice %>
         <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
         <p class="alert"><%= alert %></p>
      <% end %>
       
      
              <%= yield %>  

    
  </body>
</html>
